{% extends "Base.html" %}

{% block title %} Notice {% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dynamicPage.css' %}" />
<body>
  <div class="container-xl mainBox">
    <div class="row">
      <div class="col-lg imgColumn" id='hght'>
        <div class="pageHeading"><h1 class="display-3 shadow-2-strong"><b>{{ page.heading|title }}</b></h1></div> 
        <img class='pageImg shadow-5-strong img-thumbnail' src="{{ page.image.url }}" id='image'>
      </div>
      <div class="col-lg dataColumn">
        <div class="letter" id='letter'>
          <div id='letterData'>{{ page.details|safe }}</div>
        </div>
      </div>
    </div>
  </div>
</body>
{% if page.vertical %}
<style>
  h1{
    margin-bottom: 5vh;
  }
  .letter{
    margin-top: -7.5vh;
    height: 100vh;
    max-height: 100vh;
  }
  .letterData{
    height: 100vh;
  }
  .mainBox{
    padding-bottom: 0vh;
  }
</style>
{% endif %}
<style>
  @media(max-width: 992px){
    .imgColumn{
      padding: 0px;
    }
    h1.display-3{
      margin-left: 10%;
      margin-right: 10%;
    }
    .pageImg{
      width: 80%;
    }

    .letter{
      margin: 26px auto 0;
      margin-top: 10vh;
    }
    {% if page.vertical %}
    .pageImg{
      width: auto;
      max-height: 75vh;
    }
    .mainBox{
      padding-bottom: 30vh;
    }
    {% endif %}
  }
</style>
<script type="text/javascript" src="{% static 'js/vanilla-tilt.min.js' %}"></script>
<script >
  VanillaTilt.init(document.getElementById("image"), {
    reverse: true,
    max: 2,
    speed: 100,
    gyroscope: true,
    glare: true,
    reset: false
  });
</script>
{% endblock content %}
