{% load static %}
<link
href="{% static 'css/header.css' %}"
rel="stylesheet"
/>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
      <img
        src="{% static 'images/apsLogo.webp' %}"
        loading="lazy"
        id = "navbarLogoImg"
      /><h>Arya Public School</h>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admissions">Admission</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            School
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="attatchHere">
            <!-- <li><a class="dropdown-item" href="#">Smart Class</a></li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/notice">Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/news">News</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- navbar end -->
