{% extends "base.html" %}

{% block title %} News {% endblock title %}

{% block content %}
{% load static %}
<style>
  body{
    background: whitesmoke;
  }
  h1{
      text-align: center;
      margin-bottom: 2rem;
      text-shadow: 2px 2px 5px #c5c5c5;
      background: white;
      padding: 1.5% 0px;
  }
  .accordion-item{
    background: white;
    border-bottom: 1px solid #c2c2c2;
  }
  .accordion-button{
    box-shadow: 0px 2px 4px 0px #d7d7d7;
  }
  .accordion-button:focus{
    box-shadow: 0px 1px 4px 0px #9c9c9c;
  }
  #accordionExample{
    margin-bottom: 15vh;
  }
</style>
<body>
  <div class="container-lg">
    <br><br><br><h1 class="display-3 shadow-2-strong"><b>Latest News</b></h1>
    <div class="accordion shadow-2-strong" id="accordionExample">
      {% for info in information %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
          <button
            class="accordion-button collapsed"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#collapse{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="collapse{{ forloop.counter }}"
          >
            {% if info.important is True %}<img src="{% static 'images/new.gif' %}">&nbsp;&nbsp;{% endif %} <b>{{ info.heading }}</b>
          </button>
        </h2>
        <div
          id="collapse{{ forloop.counter }}"
          class="accordion-collapse collapse"
          aria-labelledby="heading{{ forloop.counter }}"
          data-mdb-parent="#accordionExample"
        >
          <div class="accordion-body">
            {{ info.details|safe }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock content %}
