{% extends "Base.html" %}

{% block title %} Notice {% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}" />
<body>
  <div class="container">
    <br><br><br><h1 class="display-3 shadow-2-strong"><b>Notice</b></h1>
    <table class="table table-bordered shadow-2-strong">
      <thead class="table-dark">
        <tr id='headings'>
          <th scope="col">Date</th>
          <th scope="col">Notice</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for notice in notices %}
        <tr>
          <th scope="row">{{ notice.displayDate }}</th>
          <td class="max">{% if notice.important is True %}<img src="{% static 'images/new.gif' %}">&nbsp;&nbsp;{% endif %}<b>{{ notice.heading }}</b></td>
          <td class="min"><a href="{{ notice.file.url }}"><b>DOWNLOAD</b></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

{% endblock content %}
