
/* parent */
.activitiesParent{
  padding: 5vw;
  margin-left: 0;
  margin-right: 0;
}
.activitiesWrapper{
  padding: 2vw;
  border: var(--Orange) solid;
}

/* all three */
.imageParent{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.imageParent > div > img{
  width: calc(11rem + 34vw);
}
hr{
  color: var(--Orange);
  opacity: 1;
}
.imageWrapper{
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.headingWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.textColumn{
  display: flex
}
.textParent{
  margin: auto;
}

/* activity1 */

/* activity2 */

/* activity3 */
