/* parents */
.admissionPageWrapper{
  margin-left: 0;
  margin-right: 0;
}

.textParent{
  padding: 3vw;
}
.columnParent{
  margin-bottom: 3rem;
}

.textWrapper{
  padding: 5vw;
  border: var(--Orange) solid;
  line-height: 2.5rem;
}

.headingWrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}


@media(min-width: 952px){
  .documentsWrapper{
    border-right: var(--Orange) solid;
  }
  
.topicHeading{
  margin-bottom: 3rem !important;
}


.allcenter{
  display: flex;
  justify-content: center;
  margin: auto;
}

.listWrapper{
  font-size: larger;
}
