.footerDetail{
  display: block;
  padding-bottom: 1rem;
}

.font-weight-normal > tr > td{
  padding: 1vw;
}

a.creator:hover{
	color:var(--Orange);
}

.footerTable td {
  padding-left: 1% !important;
  padding-right: 1% !important;
}