/* preventoverflow */
.row{
  --bs-gutter-x:0;
}
.centerall{
  margin: auto;
  display: flex;
  justify-content: center;
}


/* part1 part2 parent */
.landingParent{
  background-image: linear-gradient(to left bottom, #ffce00, #ffbb00, #ffa700, #ff9300, #ff7e00);
  background-repeat: no-repeat;
  color: #f5f5f5 !important;
  padding-top: 2.5vh;
}

/* part1 */
.schoolParent{
  padding-bottom: 1.5rem;
}

.schoolName{
  text-align: center;
  padding-top: 1.5rem;
}

.schoolAddress{
  text-align: center;
}
.gayatri{
  margin-top: 1.5vmin;
  color: var(--RedOrange);
}
/* marquee */
.marqueeWrapper{
  overflow: hidden;
  position: relative;
  height: 50px;
}
.marquee{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;

  animation-delay: -2s;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

/* part2 */

.carouselParent{
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.carouselWrapper{
  width: 70%;
}
.carousel-item > img {
  max-height: 88rem !important;
}

/* part3 */

.cardWrapper{
  padding-top: 4rem;
  padding-bottom: 3rem;
}

/* part4 */

.aboutWrapper{
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}

  /*about css*/
  .aboutSection{
    /*width: 75%;*/
    padding: 5vmin 10vmin;
    background: white;
  }
  .aboutHead{
    text-align: center;
    padding-bottom: 1rem;
    color: var(--Orange);
    font-size: 2rem;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
  }

  .aboutBody{
    text-align: justify;
    text-justify: inter-word;
  }

  /*a word css part5 */
  .wordSection{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .aqua-gradient {
    background: linear-gradient(to left bottom, #ffce00, #ffbb00, #ffa700, #ff9300, #ff7e00); !important;
    /*background: linear-gradient(40deg, #f5ff20, #ff4605) !important;*/
  }

  .testimonial-card .avatar {
    width: 60%;
    margin-top: -30%;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  .continueReading{
    padding-top: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
    color: #979797;
  }
  .continueReading:after{
    content: "...";
  }

  .cardSmallData{
    text-align: justify;
  }

  .cardModalBody{
    text-align: center;
  }

  .modalLeftImg{
    width: 90%;
    border-radius: 1%;
    position: sticky;
    top: 0;
  }

  .modalImageDivCol{
    padding-left: 0px;
    padding-right: 1%;
  }

  .modalDataText{
    padding-left: 5%;
    text-align: justify;
    font-size: 1rem;
    color: black;
  }

  .modalTextPersonName{
    line-height: 2rem;
    text-decoration: underline;
  }

  .personWordCard{
    cursor: pointer;
  }

  @media(max-width: 992px){
    .modalLeftImg{
      width: 60%;
      border-radius: 1%;
      margin-bottom: 5%;
    }
  }
  .lead {
    font-size: 2.8vmin;
  }


/* spacing */
.noticeNewsParents{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}
.noticeNewsParents > .card {
  width: 80%;
  padding-bottom: 3rem;
}
.noticeNewsParents > .card > .card-header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.noticeNewsParents > .card > .card-body > .card-text {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* hide scrollbar */
.noticeNewsParents > .card > .card-body{
  overflow-y: scroll;
  height: max-content;
  max-height: 36rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-bottom: 2rem;
}
.noticeNewsParents > .card > .card-body::-webkit-scrollbar {
  display: none;
}





/*new changes*/

.schoolHeading{
  font-size: 8vmin;
  text-shadow: 0px 0px 4px #000000;
  /*line-height: 0.7;*/
}

.scAddress{
  font-size: 3.2vmin;
  text-align: center;
  text-shadow: 0px 0px 4px #0000008f;
}

.schoolContact{
  font-size: 2.5vmin;
  text-shadow: 0px 0px 4px #0000008f;
}

.subHeading{
  font-size: 4vmin;
}

@media(max-width: 650px){
  .schoolAddress{
    margin-top: -2vh;
  }
  .textCenter{
    margin-top: -1.2vh;
  }
  .carouselWrapper {
    width: 90%;
  }
  .schoolName{
    padding-top: 0px;
  }
  #schoolName{
    margin-top: -1rem !important;
  }
  .scAddress{
    margin-top: 1vh;
  }
  .schoolContact{
    margin-top: 1vh;
  }
}

#admissions{
  text-decoration: none;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; text-shadow: 0px 0px 1px grey}
  50% { color: blue; text-shadow: 0px 0px 1px white, 0px 0px 10px rgb(0,0,0,0.001)}
  100% { color: red; text-shadow: 0px 0px 1px grey}
}


.newsNoticeContainer{
    text-align: center;
}
.listElements{
  margin-bottom: 2vh;
}
.card-title{
  margin-bottom: 2vh;
}
.newsNoticeCard{
  cursor: pointer;
}
.newsNoticeCard:first-of-type{
  margin-bottom: 5vh;
}